@mixin arrow($direct,$type) {
    position: relative;
    cursor: pointer;
    @if $direct == right {
        left: -12px;
    }
    @if $type == 1 {
        &::before{
            position: absolute;
            left: 0;
            top: 50%;
            margin-top:-4px;
            width: 8px;
            height: 8px;
            background: #fff;
            content: "";
            transform: rotate(45deg);
            @if $direct == left {
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
            } @else if $direct == right{
                border-top: 2px solid #999;
                border-right: 2px solid #999;
            }
            &:hover{
                border-color:$cal-text-hover;
            }
        }
    } @else if $type == 2{
        &::before{
            position: absolute;
            top: 50%;
            margin-top:-4px;
            width: 8px;
            height: 8px;
            background: #fff;
            content: "";
            transform: rotate(45deg);
            @if $direct == left {
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
            } @else if $direct == right{
                border-top: 2px solid #999;
                border-right: 2px solid #999;
            }
        }
        &::after{
            position: absolute;
            top: 50%;
            margin-top:-4px;
            width: 8px;
            height: 8px;
            background: #fff;
            content: "";
            transform: rotate(45deg);
            @if $direct == left {
                left: 8px;
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
            } @else if $direct == right{
                left: -8px;
                border-top: 2px solid #999;
                border-right: 2px solid #999;
            }
        }
    }
}
.calendar-wrapper{
    width: 360px;
    height: auto;
    border: 1px solid $borderColor;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    background-color: #fff;
    font-size: 14px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    .cal-header{
        width: 100%;
        height: 50px;
        background-color: #fff;
        padding: 0 15px;
        font-size: 16px;
        box-sizing: border-box;
        position: relative;
        @include blue-box-content(between,middle,row);
        .left-arrow{
            @include arrow(left,1);
        }
        .left-double-arrow{
            @include arrow(left,2);
        }
        .right-arrow{
            @include arrow(right,1);
        }
        .right-double-arrow{
            @include arrow(right,2);
        }
    }
    .cal-wrap{
        width: 100%;
        height: auto;
        padding: 0 15px;
        box-sizing: border-box;
        background-color: #fff;
        .cal-wrap-header{
            height: 50px;
            border-bottom:1px solid $borderColor;
            @include blue-box-content(between,middle,row);
            &>div{
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
            }
        }
        .cal-wrap-content{
            padding: 10px 0;
            .cal-wrap-item{
                height: 45px;
                padding: 2px 0;
                box-sizing: content-box;
                @include blue-box-content(between,middle,row);
                &>div{
                    width: 24px;
                    height: 24px;
                    background-color: #fff;
                    line-height: 24px;
                    text-align: center;
                    border-radius: 50%;
                    cursor: pointer;
                    &:hover{
                        color: $cal-text-hover;
                        background-color: $pageBg;
                    }
                    &.active{
                        background-color: $cal-text-active;
                        color: #fff;
                    }
                    &.disable{
                        pointer-events: none;
                        color: #999;
                    }
                }
            }
        }
    }
}