$pageBg:#f5f6fa;
$pageWidth:1200px;
$borderColor:#EBEBEB;
$main-color:#0259E1;
$white-color:#fff;
$bg-active:#012CCB;
$blue-color:#1C63D2;
$blue-header-line:#2E5BFF;
$gray-text-color:#666666;
$gray-black-color:#343434;
$gray-middle-black-color:#545454;
$red-color:#FA2A2A;
$man-color:#3079EC;
$gray-bg-color:#F2F2F2;