//背景颜色
$pageBg:#f5f6fa;
//白色
$white-color:#fff;
$pageWidth:100%;
//边框线颜色
$borderColor:#EBEBEB;
//导航栏主题颜色
$main-color:#0259E1;
$bg-active:#012CCB;
//panle面板header字体颜色和边线颜色
$blue-color:#1C63D2;
$blue-header-line:#2E5BFF;
//文字
$gray-text-color:#666666;
$gray-black-color:#343434;
$gray-middle-black-color:#545454;
//背景
$gray-bg-color:#F2F2F2;
//性别颜色
$red-color:#FA2A2A;
$man-color:#3079EC;
//按钮颜色
$button-normal:#3B87FF;
$button-normal-border:rgb(51, 120, 230);
$button-hover:#1E58FE;
$button-active:rgb(27, 81, 230);
$button-disabled:#B8D3FF;
//表单控件边框颜色
$form-border:#326EFF;
//提示框样式
//成功
$alert-success-bg:#F6FEEE;
$alert-success-border:#E0FEC5;
$alert-success-text:#5DA300;
//错误
$alert-error-bg:#FFF0F0;
$alert-error-border:#FEC9C9;
$alert-error-text:#D33E41;