$screen-height:100vh;
.nav-blue{
    background-color: $main-color;
    color: $white-color !important;
    .navbar-header{
        .navbar-brand{
            margin-left: 0;
        }
    }
    .navbar-nav>li>a {
        color: $white-color !important;
    }
    .navbar-nav>.active a{
        background: $bg-active !important;
    }
    .navbar-nav>.open .dropdown-toggle{
        background: $bg-active !important;
    }
}

.circle-round-1{
    // @extend .circle-round-base;
    @include circle-base(52px,24px);
    @include grandient-bg(#4796FD,#156EE4,#156EE4,#ffffff,left top,right bottom);
}
.circle-round-2{
    // @extend .circle-round-base;
    @include circle-base(52px,24px);
    @include grandient-bg(#50E169,#1BB836,#1BB836,#ffffff,left top,right bottom);
}
.circle-round-3{
    // @extend .circle-round-base;
    @include circle-base(52px,24px);
    @include grandient-bg(#FB7D40,#E55105,#E55105,#ffffff,left top,right bottom);
}
.circle-round-4{
    // @extend .circle-round-base;
    @include circle-base(52px,24px);
    @include grandient-bg(#FA5555,#E02121,#E02121,#ffffff,left top,right bottom);
}

//主界面容器
.content-wrapper{
    width: $pageWidth;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 65px;
    overflow: hidden;
    position: relative;
    margin:0 auto;
    @include blue-box-content(left,middle,column);
}

.header-nav {
    .row{
        padding: 0;
        margin: 0;
        &>div{
            margin: 15px 0;
            border-right: 1px solid $borderColor;
            .header-item{
                @include blue-box-content(center,middle,row);
                .media-body{
                    padding-top: 5px;
                }
            }
        }
    }
} 
.header-nav .row .col-md-3:last-child>.media{
    border: none;
}

.panel-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    flex:1;
    -webkit-flex:1;
    -moz-flex:1;
    @include blue-box-content(center,top,row);
    .panel-left{
        width: 0;
        flex:1;
        height: 100%;
        -webkit-flex:1;
        margin-right: 15px;
        position: relative;
        // overflow: hidden;
        // @include blue-box-content(left,middle,column);
        .left-header{
            @include blue-header(68px);
            @extend .border-top-1px;
            width: 100%;
            position: relative;
            z-index: 100;
            .info{
                @include media-valiable(md);
            }
            .right>button{
                margin-left: 15px;
                @include media-valiable(lg);
            }
        }
        .left-body{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 68px;
            overflow: scroll;
        }
    }
    .panel-right{
        width: 200px;
        height: 100%;
        position: relative;
        @include blue-box-content(start,middle,column);
        .right-header{
            @include blue-header(45px);
            @extend .border-top-1px;
            width: 198px;
        }
        .patient-info{
            overflow: scroll;
        }
    }
}

.grid-list{
    width: 100%;
    padding: 0px 7.5px 15px 7.5px;
    box-sizing: border-box;
    height: auto;
    position: relative;
    overflow: hidden;
    .grid-list-item{
        background-color: #fff;
        // float: left;
        // width: 25%;
        padding: 0;
        height: auto;
        margin-top: 15px;
        .grid-list-item-inner{
            position: relative;
            &.blue-danger-label::after{
                position: absolute;
                content: "危";
                width: 100%;
                height: 100%;
                border:2px solid $red-color;
                left: 0;
                top: 0;
                text-align: right;
                padding:0 5px;
                color: #ffffff;
                z-index: 20;
            }
            &.blue-danger-label::before{
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-top: 45px solid $red-color;
                border-left: 45px solid rgba(255, 255, 255, 0);
                right: 0;
                top: 0;
                z-index: 15;
            }
            &.blue-serious-label::after{
                position: absolute;
                content: "重";
                width: 100%;
                height: 100%;
                border:2px solid $red-color;
                left: 0;
                top: 0;
                text-align: right;
                padding:0 5px;
                color: #ffffff;
                z-index: 20;
            }
            &.blue-serious-label::before{
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-top: 45px solid $red-color;
                border-left: 45px solid rgba(255, 255, 255, 0);
                right: 0;
                top: 0;
                z-index: 15;
            }
            &:hover{
                box-shadow: 0 0 15px #ddd;
                transform: scale(1.02,1.02);
            }
            transition: all linear .2s;
            margin: 0 7.5px 0px 7.5px;
            @extend .border-1px;
            .grid-list-item-title{
                font-size: 14px;
                color: $gray-black-color;
                @extend .blue-padded-b-10;
                .iconfemale{
                    color:$red-color;
                    padding-left: 8px;
                }
                .iconman{
                    color:$man-color;
                    padding-left: 8px;
                }
            }
            .grid-list-item-text{
                font-size: 14px;
                color: $gray-middle-black-color;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .grid-list-item-footer{
                height: 32px;
                background-color: $gray-bg-color;
                line-height: 32px;
                text-align: center;
                @extend .border-left-1px;
                @extend .border-right-1px;
                @extend .border-bottom-1px;
                .row{
                    padding:0;
                    margin:0;
                    .col-md-6:last-child{
                        @extend .border-left-1px;
                    }
                }
            }
        }
    }
}

.navbar-brand{
    padding: 0;
    line-height: 50px;
    margin-right: 30px;
    img{
        display: inline-block;
    }
}

#navMore .glyphicon{
    top:3px;
}

.user-img{
    @include circle-base(32px,24px);
    @include grandient-bg(#fff,#fff,#fff,#333,left top,right bottom);
}

#userImg{
    padding-left:60px;
    a{
        padding-top: 9px;
        padding-bottom: 9px;
    }
}