//loading样式,测试git忽略文件
@keyframes loadingBg {
    0%{
        background: rgba($color: #000000, $alpha: 0);
    }
    100%{
        background: rgba($color: #000000, $alpha: 0.5);
    }
}
@-webkit-keyframes loadingBg {
    0%{
        background: rgba($color: #000000, $alpha: 0);
    }
    100%{
        background: rgba($color: #000000, $alpha: 0.5);
    }
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loadingDot {
    0% {
        content: ""
    }
    33% {
        content: "."
    }
    66% {
        content: ".."
    }
    100%{
        content: "..."
    }
}
@-webkit-keyframes loadingDot {
    0% {
        content: ""
    }
    33% {
        content: "."
    }
    66% {
        content: ".."
    }
    100%{
        content: "..."
    }
}
@keyframes loadingModal {
    0%{
        transform: translate(0,-50%);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
@-webkit-keyframes loadingModal {
    0%{
        transform: translate(0,-50%);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
.loading-wrapper{
    $loadingColor:#333;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1090;
    background: rgba($color: #000000, $alpha: 0);
    text-align: center;
    .loading-wrap{
        width: 180px;
        height: 180px;
        border-radius:8px;
        box-sizing: border-box;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 35vh;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        @include blue-box-content(center,middle,column);
        .icon-loading{
            fill:$loadingColor;
        }
        p{
            position: relative;
            left: -5px;
            color: $loadingColor;
            &::after{
                position: absolute;
                content: "...";
                left: 72px;
                bottom: -4px;
                color: $loadingColor;
                font-size: 24px;
            }
        }
    }
}

.loading-wrapper.loading-show{
    animation: {
        name: loadingBg;
        duration: 0.3s;
        timing-function: linear;
        fill-mode: forwards;
    }
    -webkit-animation: {
        name: loadingBg;
        duration: 0.2s;
        timing-function: linear;
        fill-mode: forwards;
    }
    .loading-wrap{
        animation: {
            name: loadingModal;
            duration: 0.3s;
            timing-function: linear;
            fill-mode: forwards;
        }
        -webkit-animation: {
            name: loadingModal;
            duration: 0.3s;
            timing-function: linear;
            fill-mode: forwards;
        }
        .icon-loading{
            animation: {
                name: loading;
                duration: 2s;
                timing-function: linear;
                iteration-count: infinite;
                fill-mode: initial;
            }
            -webkit-animation: {
                name: loading;
                duration: 2s;
                timing-function: linear;
                iteration-count: infinite;
                fill-mode: initial;
            }
        }
        p{
            &::after{
                animation: {
                    name: loadingDot;
                    duration: 1s;
                    timing-function: linear;
                    iteration-count: infinite;
                    fill-mode: initial;
                }
                -webkit-animation: {
                    name: loadingDot;
                    duration: 1s;
                    timing-function: linear;
                    iteration-count: infinite;
                    fill-mode: initial;
                }
            }
        }
    }
}