.blue-pagination{
    @include blue-box-content(left,middle,row);
    .pagination > li{
        &.active a{
            background-color: #2273F2;
            color: #fff;
            border-radius: 4px;
        }
        a{
            margin: 0 5px;
            border: none;
            background-color: transparent;
        }
    }
    .page-count{
        .form-group{
            margin-bottom: 0;
        }
        margin-left: 15px;
        input{
            display: inline-block;
            width: 50px;
            margin: 0 5px;
        }
    }
}