.tree-menu{
    .panel{
        margin-top: 0;
        border-color: #fff;
        .panel-heading{
            background-color: #fff;
            position: relative;
            padding-left: 30px;
            &::before{
                position: absolute;
                left: 10px;
                top: 16px;
                content: "";
                width: 0;
                height: 0;
                border-top: 8px solid #fff;
                border-left: 8px solid #B3B7C2;
                transform: rotate(-135deg);
                transition: all linear .2s;
            }
            a{
                font-size: 14px;
                font-weight: normal;
                text-decoration: none;
            }
            &:hover{
                background-color: #EFF3FC;
                color: #3291FF;
            }
            &.active{
                background-color: #EFF3FC;
                a{
                    color: #3291FF;
                }
                &::before{
                    top: 14px;
                    border-left-color: #2273F2;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .panel-collapse{
        ul{
            border-top: #fff;
            li{
                padding-left: 30px;
                border: none;
                cursor: pointer;
                &:hover{
                    background-color: #EFF3FC;
                    color: #3291FF;
                }
            }
        }
    }
}