
@import './config.scss';
@import './base-mixin.scss';
@import './index.scss';
@import './iconfont.scss';
//loading加载遮罩层
@import './loading.scss';
//button样式
@import './button.scss';
//form表单样式
@import './form.scss';
//分页样式
@import './pagination.scss';
//提示框样式
@import './alert.scss';
//日历
@import './calendar.scss';
//树状控件
@import './tree.scss';
//tab切换
@import './tab.scss';
//tab切换
@import './login.scss';

html,body{
    background-color: $pageBg;
}

.blue-content{
    background-color:#FFF;
}

//固定宽度的容器
.container.blue-content{
    background-color: #fff;
    margin-bottom:15px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    @extend .border-1px;
}

.blue-padded-l-15{
    padding-left: 15px;
}
.blue-padded-t-15{
    padding-top: 15px;
}
.blue-padded-b-15{
    padding-bottom: 15px;
}
.blue-padded-r-15{
    padding-right: 15px;
}
.blue-padded-l-10{
    padding-left: 10px;
}
.blue-padded-t-10{
    padding-top: 10px;
}
.blue-padded-b-10{
    padding-bottom: 10px;
}
.blue-padded-r-10{
    padding-right: 10px;
}
.blue-padded-0{
    padding: 0;
}
.blue-padded-l-0{
    padding-left: 0px !important;
}
.blue-padded-t-0{
    padding-top: 0px !important;
}
.blue-padded-b-0{
    padding-bottom: 0px !important;
}
.blue-padded-r-0{
    padding-right: 0px !important;
}

.nursing-s{
    color: #F22035;
}
.nursing-1{
    color: #F74883;
}
.nursing-2{
    color: #F57B18;
}
.nursing-3{
    color: #0259E1;
}

.blue-btn{
    padding: 6px 24px;
    &.btn-primary{
        background-color: $main-color;
        color: #ffffff;
    }
}

.inline-text{
    display: inline-block;
}

//浏览器版本不兼容时，弹出层样式
#browserWrapper{
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -20%;
    width: 40%;
    height: auto;
    text-align: center;
    z-index: 1100;
    .blue-browser-update{
        margin-top: 15px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
}

#canvas{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1099;
}